.link {
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: var(--mantine-spacing-md);
    padding-right: var(--mantine-spacing-md);
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: var(--mantine-font-size-sm);

    /**
        FIXME:
        [theme.fn.smallerThan("sm")]: {
          height: rem(42),
          display: "flex",
          alignItems: "center",
          width: "100%",
        },

        ...theme.fn.hover({
          backgroundColor:
            theme.colorScheme === "dark"
              ? theme.colors.dark[6]
              : theme.colors.gray[0],
        }),
     */
}

.subLink {
    width: 100%;
    padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
    border-radius: var(--mantine-radius-md);

    /**
        FIXME


        ...theme.fn.hover({
          backgroundColor:
            theme.colorScheme === "dark"
              ? theme.colors.dark[7]
              : theme.colors.gray[0],
        }),

        "&:active": theme.activeStyles,
     */
}

.dropdownFooter {
    background-color: var(--mantine-colors-dark-7);
    margin: calc(var(--mantine-spacing-md) * -1);
    margin-top: var(--mantine-spacing-sm);
    padding: var(--mantine-spacing-md) calc(var(--mantine-spacing-md) * 2);
    padding-bottom: var(--mantine-spacing-xl);
    border-top: 1rem solid var(--mantine-colors-dark-5);
}
