/* FIXME MANTINE V7 MIGRATION */
.card {
    /*
    backgroundColor:
    theme.colorScheme === "dark" ? theme.colors.dark[7] : theme.white,
     */
}

.label {
    line-height: 1;
    font-weight: 700;
    /*fontSize: theme.fontSizes.xs;*/
    letter-spacing: -0.25px; // FIXME: px or rem?!
    text-transform: uppercase;
}

.section {
    /*
    padding: theme.spacing.xs,
    borderTop: `1px solid ${
      theme.colorScheme === "dark" ? theme.colors.dark[4] : theme.colors.gray[3]
    }`,
    */
}
