.diff {
  white-space: pre-wrap;
  overflow-wrap: anywhere;
}

.delete {
  background: var(--mantine-color-red-light);
  color: var(--mantine-color-red-light-color);
  text-decoration: line-through;
  border-radius: 2px;
}

.insert {
  background: var(--mantine-color-green-light);
  color: var(--mantine-color-green-light-color);
  text-decoration: none;
  border-radius: 2px;
}
