.root {
    padding: var(--mantine-spacing-md);
}

.value {
    font-size: 24rem;
    font-weight: 700;
    line-height: 1;
}

.diff {
    line-height: 1;
    display: flex;
    align-items: center;
}

.icon {
    color: var(--mantine-colors-dark-3)
}

.title {
    font-weight: 700;
    text-transform: uppercase;
}
