/* FIXME MANTINE V7 MIGRATION */

.linkEditor {
    display: flex;
}

.linkEditorInput {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: 0;
}

.linkEditorExternalControl {
    /* FIXME MANTINE V7 MIGRATION */
    /*
    backgroundColor:
    theme.colorScheme === "dark"
    ? theme.fn.rgba(theme.colors.dark[7], 0.5)
: theme.white,
border: `${rem(1)} solid ${
        theme.colorScheme === "dark"
          ? theme.colors.dark[4]
          : theme.colors.gray[4]
      }`,
    height: rem(24),
    width: rem(24),
    display: "flex",
    justifyContent: "center",
    alignItems: "center",
    borderRadius: theme.fn.radius(),

    // eslint-disable-next-line @typescript-eslint/no-unsafe-assignment
    "&[data-active]": {
        backgroundColor: colors.background,
        borderColor: colors.border,
        color: colors.color,
        ...theme.fn.hover({ background: colors.hover }),
    },*/
}

.linkEditorSave {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
