.footer {
    position: absolute;
    width: 100%;
    margin-top: var(--mantine-spacing-md);
    border-top: 1rem solid var(--mantine-colors-dark-5);
    /*
    FIXME
    [theme.fn.largerThan(FOOTER_BREAKPOINT)]: {
      height: FOOTER_HEIGHT_DESKTOP,
    },
    [theme.fn.smallerThan(FOOTER_BREAKPOINT)]: {
      height: FOOTER_HEIGHT_MOBILE,
    },
     */
}

.inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: var(--mantine-spacing-md);
    padding-bottom: var(--mantine-spacing-md);

    /*
    FIXME
    [theme.fn.smallerThan(FOOTER_BREAKPOINT)]: {
      flexDirection: "column-reverse",
    },
     */
}

.links {
    /*
    FIXME
    [theme.fn.smallerThan(FOOTER_BREAKPOINT)]: {
      marginBottom: theme.spacing.md,
    },

     */
}
